{% extends 'base.html' %}
{% load static %}

{% block title %}
    Posts
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/posts.css' %}">
{% endblock css %}

{% block body %}
<section id="posts">
    <h2><a href="">Posts</a></h2>
    <ul>
        {% include "blog/includes/post.html" %}
        {% include "blog/includes/post.html" %}
        {% include "blog/includes/post.html" %}
        {% include "blog/includes/post.html" %}
        {% include "blog/includes/post.html" %}
    </ul>
</section>
{% endblock body %}