{% extends 'base.html' %}
{% load static %}

{% block title %}
    Welcome
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'blog/welcome.css' %}">
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
{% endblock css %}

{% block body %}

    <section id ="welcome">
        <header>
            <img src="{% static 'blog/images/dp.png' %}" alt="Simon Alphonse - Author of the blog"/>
            <h2>Simon Alphonse</h2>
        </header>
        <p>I'm a .NET and Python developer working in Ideas2It.</p>
    </section>

    <section id="latest-posts">
        <h2><a href="">Latest Posts</a></h2>
        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img id="round_image" src="{% static 'blog/images/drawing_logo.jpg' %}" alt="Drawing"/>
                    </a>
                    <div class="post__content">
                        <h3>Drawing Digital Art</h3>
                        <p>
                            1. Flexibility: Easily make changes, experiment with techniques, colors, and compositions without starting over.
                            2. Access to tools: Wide range of tools and features, including layers, brushes, filters, and effects.
                            3. Environmentally friendly: No need for paper, paint, or other traditional art supplies.
                        </p>
                    </div>
                </article>
            </li>
        </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>I love programming, playing table tennis, enjoy photography and riding cycle</p>
        <p>Good luck have fun !</p>
    </section>

{% endblock body %}