{% load static %}

<li>
    <article class="post">
        <a href="{% url "url_post" slug %}">
            <img src="{% static 'blog/images/drawing_logo.jpg' %}" alt="Drawing"/>
        </a>
        <div class="post__content">
            <h3>Drawing Digital Art</h3>
            <p>
                1. Flexibility: Easily make changes, experiment with techniques, colors, and compositions without starting over.
                2. Access to tools: Wide range of tools and features, including layers, brushes, filters, and effects.
                3. Environmentally friendly: No need for paper, paint, or other traditional art supplies.
            </p>
        </div>
    </article>
</li>