
header nav {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
}

header nav a {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

header nav a:hover,
header nav a:active {
    color: red
}